.app-bar{
    padding: 10px;
    backdrop-filter: blur(10px);
}

#logo-mobile{
    display: none;
}

@media screen and (max-width: 899px) {
    #logo{
        display: none;
    }
    #logo-mobile{
        display: flex;
    }
}